nav{
    text-align: center;
}

.menu{
    display: flex;
    padding:0;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    height: 65px;
}

.menu li{
    list-style-type: none;
}

.menu a {
    display:block;
    min-width: 150px;
    
    text-transform: uppercase;
    margin: 1rem;
    padding: 0.4rem 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    text-decoration: none;
    border: none;
    font-size: 15px;

    transition: all 0.5s ;
}

/* rgb(106,59,255), rgb(61,150,215) */

.menu a.actif {    
    background-color: rgb(255, 255, 255) ; 
    color: #000000 ;
    font-size: 20px;
}

.menu a:hover {
    background-color: rgb(255, 255, 255);
    color: #444444;
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    background: rgb(230,218,206);
}

.conteneur {
    width: 90%;
    height: 600px;
    margin: 0;
    padding-top: 50px;
    padding-left: 20%;
}

.boite {
    width: 40%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.boiteGauche {
    float: left;
    background-color: rgb(244,236,230);
    box-shadow: -15px 15px 20px rgb(200,188,176);
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.boiteMiddle {
    float: left;
    background-color: white;
    color: black;
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.text{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sep{
    width: 100%;
    height: 3px;
    background: blue;
    margin-top: 20px;
}


.resume{
    padding-top: 5%;
    text-align: justify;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

.footer{
    margin-top: 15%;
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgb(0, 174, 255), blue);
    color: white;
    text-align: center;
}

.footer p{
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}